<div class="wrapper">
    <div  class="gradient"></div>
        
</div>
<div class="main_box">
    <div class="inner">
        <div class="left_side">
            <div class="text">
                <h1 id="demo" class="front"><span class="Open_brace"><</span><span class="text1">H1</span><span class="Closing_brace">></span><span class="white">Front End</span><span class="Open_brace"><</span><span class="Open_brace">/</span><span class="text1">H1</span><span class="Closing_brace">></span></h1>
                <h1 class="logger"><span class="console">Console</span><span class="dot">.</span><span class="log">log</span><span class="braces">("</span> <span class="iner">Road Map</span> <span class="braces">")<span class="semicolon">;</span></span></h1>
            </div>
            <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa numquam, sit quidem optio, eligendi praesentium enim ex accusamus, aperiam iure pariatur fugit? Hic, nostrum delectus?</p>
            <div class="btn_box">
                <button type="button" class="Started btn btn-success">Get Started</button>
                <button type="button" class="Contact btn btn-primary">Contact Us</button>
            </div>
        </div>
    </div>
    <div class="wrapper2">
        <div  class="gradient2"></div>
    </div>
 
</div>
