
<div  class="gradient position-absolute z-n1"></div>     
<div class="main_box">
    <div class="inner">
        <div class="left_side">
            <div class="text">
                <h1 class="front typer1"><span class="Open_brace"><</span><span class="text1">H1</span><span class="Closing_brace">></span><span class="white">Front End</span><span class="Open_brace"><</span><span class="Open_brace">/</span><span class="text1">H1</span><span class="Closing_brace">></span></h1>
                <h1 class="logger"><span class="console">Console</span><span class="dot">.</span><span class="log">log</span><span class="braces">("</span> <span class="iner">Road Map</span> <span class="braces">")<span class="semicolon">;</span></span></h1>
            </div>
            <p class="paragraph"><span class="company_name">devGeorgia</span> is a platform where you <span class="text-success">can learn</span> how to <span class="text-success">create</span> websites. here you have the <span class="text-success">opportunity</span> of <span class="text-success">learning</span> what you <span class="text-success">enjoy</span> doing.With us, you can <span class="text-danger">achieve</span> the top of the <span class="text-info">IT</span> industry</p>
            <div class="btn_box">
                <button type="button" class="Started btn btn-success">Get Started</button>
                <button type="button" routerLink="/contact" class="Contact btn btn-primary">Contact Us</button>
            </div>
        </div>
        <div id="gia" class="right_side">
        </div>
    </div>
</div>


