<app-navbar></app-navbar>

<div class="center">
    <form class="formgroup" action="https://formsubmit.co/lashakakashvili114@gmail.com" method="POST">
        <input type="hidden" name="_template" value="table">
        <input type="text" name="_subject" placeholder="Subject">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="http://localhost:4200/thanks">
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <input class="bigger" type="text" name="message" placeholder="Your Text Here" required>
        <button type="submit">Send</button>
    </form>
</div>