.center{
    margin: auto;
    width: 30%;
    height: 600px;
    display: flex;
    justify-content: center;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            width: 400px;
            text-indent: 10px;
            height: 40px;
            font-size: 14px;
            margin-bottom: 40px;
            background-color: #181818;
            color: rgb(255, 255, 255, 1) !important; 
            border: 1px solid white;
            border-radius: 10px;
        }
        button {
            width: 100px;
        }
    }
}

::placeholder {
color: white;
opacity: 1;
}

input:focus::placeholder {
color: rgba(255, 255, 255, 0.2);
}
