
<div  class="gradient position-absolute z-n1"></div>     
<div class="main_box">
    <div class="inner">
        <div class="left_side">
            <div class="text">
                <h1 class="front typer1"><span class="Open_brace"><</span><span class="text1">H1</span><span class="Closing_brace">></span><span class="white qart">ფრონტ ენდ</span> <span class="Open_brace"><</span><span class="Open_brace">/</span><span class="text1">H1</span><span class="Closing_brace">></span></h1>
                <h1 class="logger"><span class="console">Console</span><span class="dot">.</span><span class="log">log</span><span class="braces">("</span> <span class="iner qart">დეველოპერის გზა</span> <span class="braces">")<span class="semicolon">;</span></span></h1>
            </div>
            <p class="paragraph"><span class="company_name">devGeorgia</span> არის პლატფორმა სადაც შენ შეგიძლია <span class="text-success">ისწავლო </span> როგორ <span class="text-success">იქმნება</span> რეალური ვებ-საიტები. აქ გაქვს <span class="text-success">შანსი</span> იმისა რომ <span class="text-success">ისწავლო</span> ის რაც შენ <span class="text-success">გსიამოვნებს</span>. ჩვენთან შენ შეგიძლია <span class="text-danger">მიაღწიო</span> მწვერვალს ყველაზე კარგად <span class="text-info">ანაზღაურებად</span> სფეროში.</p>
            <div class="btn_box">
                <button type="button" class="Started btn btn-success">დავიწყოთ!</button>
                <button type="button" routerLink="/contact" class="Contact btn btn-primary">შეგვეხმიანე :)</button>
            </div>
        </div>
        <div id="gia" class="right_side">
        </div>
    </div>
</div>


