<app-navbar></app-navbar>
<div class="wrapper">
    <app-leftdocumentation></app-leftdocumentation>
    <div class="board_starter">
        <div class="text_inner">
            <h1 class="header_text">მოგესალმებით ჩემს <Span class="text-success">Front End</Span> კურსზე</h1>
            <p class="header_text">ჩემს კურსზე თქვენ შეძლებთ შეისწავლოთ პროგრამირებიეს ენები როგორიცაა <span
                    class="text-danger-emphasis">HTML </span> <span class="text-info-emphasis">CSS </span> <span
                    class="text-warning"> JAVASCRIPT</span></p>
        </div>
    </div>
</div>