<app-navbar></app-navbar>
<div class="lessons_side">
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-2</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-3</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-4</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-5</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-6</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-7</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-8</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-9</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-10</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    <div class="gakvetili">
        <a href="">Lesson-1</a>
    </div>
    

</div>
