.lesson_here {
  width: 90%;
  height: 800px;
  overflow-y: scroll;
}

.wrapper {
  display: flex;
}

.accordion-item{
  background-color: rgba($color: #000000, $alpha: 0.4) !important;
  border-bottom: 3px grey solid!important;

  border: 0;
  color: #fff;
}

.accordion-button{
  color: #fff;
  background-color: rgba(58, 58, 58);
  z-index: 1234;
}


.accordion-button:active{
  border: 0;
}

.accordion_myContent{
  width: 100%;
  height: 700px;
  overflow-y: scroll;
}

ul li{
  font-family: qartuli;
}


ul ol{
  font-family: qartuli2;
  margin-bottom: 30px;
  color: #cfcfcfcf;
  width: 500px;
}


.Informative{
  color: #fff;
}

